@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  transition: all, 0.3s linear;
}
header.app {
  background-color: #ad7000;
  border-bottom: 2px solid #946000;
  color: #f2f2f2;
}
header.app > .wrap {
  width: 90%;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}
header.app > .wrap a {
  color: #f2f2f2;
  text-decoration: none;
}
header.app > .wrap ul > li {
  list-style: none;
  display: inline-block;
}
header.app > .wrap ul > li:not(:last-of-type) {
  margin-right: 10px;
}
header.app > .wrap ul > li a {
  text-decoration: none;
  color: #ad7000;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  font-weight: 700;
}
header.app > .wrap ul > li a:hover {
  background-color: #f2f2f2;
}
header.app h1 {
  margin: 0;
  padding: 0;
}
main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main .address-list {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
}
main .address-list > .flash-error,
main .address-list > .flash-info {
  color: #000;
  padding: 5px;
  text-align: center;
  font-weight: 700;
}
main .address-list > .flash-error img,
main .address-list > .flash-info img {
  width: 100px;
  height: 100px;
}
main .address-list .unavailable-notice {
  width: 50%;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
}
main .address-list .unavailable-notice p > a {
  border-radius: 3px;
  background-color: #3333ff;
  color: #fff;
  padding: 5px 10px;
  margin-top: 30px;
}
main .address-list > ul {
  margin: 0;
  padding: 0;
}
main .address-list > ul > li {
  list-style: none;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin-top: 20px;
  padding: 20px;
  background-color: #f2f2f2;
}
main .address-list > ul > li > ul {
  margin: 0;
  padding: 0;
  font-weight: 800;
}
main .address-list > ul > li > ul > li {
  list-style: none;
}
main .address-list > ul > li > ul .action {
  margin-top: 10px;
}
main .address-list > ul > li > ul .action a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
}
main .address-list > ul > li > ul .action a:hover {
  text-decoration: underline;
}
main .address-list > .form-container {
  border-radius: 3px;
  width: 70%;
  margin: 20px auto;
}
main .address-list > .form-container .action-title {
  color: #3333ff;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 3px;
}
main .address-list > .form-container > form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
main .address-list > .form-container > form fieldset {
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  margin-top: 30px;
  padding: 20px;
}
main .address-list > .form-container > form fieldset > legend,
main .address-list > .form-container > form fieldset label {
  font-weight: 600;
  display: block;
}
main .address-list > .form-container > form fieldset label {
  margin-top: 20px;
}
main .address-list > .form-container > form fieldset input {
  display: block;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
main .address-list > .form-container > form fieldset input[type="submit"] {
  margin-top: 30px;
  background-color: #3333ff;
  color: #f2f2f2;
  cursor: pointer;
}
main .address-list > .form-container > form fieldset input[type="submit"]:hover {
  background: #1919ff;
}
